@media only print {
  .noprint {
    display: none;
  }

  a {
    color: inherit;
  }
}

@media only screen {
  .content {
    position: relative;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

#bsd {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;
  font-family: "Times New Roman", "Times", serif;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}

h2 {
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 0;
  font-variant-caps: small-caps;
}

h3 {
  font-weight: normal;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 4px;
}

h4 {
  margin-top: 4px;
  text-align: center;
  margin: 0;
  font-size: 12px;
}

p {
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 20px;
  text-indent: -10px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul ul {
  margin-left: 0px;
  padding-left: 16px;
}
